@font-face{
    font-family: Nunito;
    src: url(../resources/Nunito.ttf);
}

:root{
    --osler-gray-white: #FFF;
    --healing-green-50: #84CC16;
    --osler-gray-80: #2F3C33;
    --osler-gray-60: #647067;
}

a:link, a:visited { color: inherit; text-decoration: none; }

.row{
    padding-left: 0;
    padding-right: 0;
}

body > .container-fluid{
    padding: 0;
}

body > .container-fluid > .row{
    margin: 0;
}

.content > section, main{
    padding: 0.5rem 1rem;
}

h1 ,h2, h3, h4 ,h5, h6{
    margin: 0;
}

.getFeatureButton{
    border-radius: 24px;
    background: var(--osler-gray-80, #2F3C33);
}

.getFeatureButton > a{
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.getFeatureButton > a > h4{
    color: var(--osler-gray-white, #FFF);
    font-family: Nunito;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: -0.0225rem;
    margin: 0;
    padding-right: 1rem;
}
.getFeatureButton:hover{
    transform: scale(1.03);
    box-shadow: 0 0 10px darkgray;
}

@media(min-width: 1200px){
    .content > section, main{
        padding: 0.75rem 1.5rem;
    }
}
/* header */

.background{
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 80%, #FFF 100%), url("../resources/background.png");
    /* background-image: url("../resources/background.png"); */
    background-position: 37% 150%;
    background-size: 250%;
    background-repeat: no-repeat;
}

.background > header{
    /* padding: 0; */
    margin: auto;
    /* width: 100%; */
}

header nav ul{
    flex:auto;
    justify-content: space-between;
}

header > .bg-body-tertiary {
    background-color: inherit !important;
}

header .sideButton{
    
    background: var(--osler-gray-white, #FFF);
    box-shadow: 0px 8px 16px 0px rgba(47, 60, 51, 0.05);
    border-radius: 24px;
    width: 64px;
    height: 64px;
    padding: 20px;
    display: flex;
    
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}


header .centerButton{
    background: var(--healing-green-50, #84CC16);
    box-shadow: 0px 16px 32px 0px rgba(132, 204, 22, 0.25);
    border-radius: 24px;
    width: 64px;
    height: 64px;
    padding: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

@media(min-width: 1200px){
    header .sideButton, header .centerButton{
        border-radius: 30px;
        width: 80px;
        height: 80px;
        padding: 22px;
    }
}

/* hero section */

.hero{
    padding: 0 1rem;
}

.hero > .container{
    padding: 0;
}

.hero > .container > .row{
    max-width: 100%;
    margin: 0;
}

.hero > .container > .row > .col{
    padding: 0;
}

.hero .Text{
    padding: 0;
}

.hero .Text{
    display: flex;
    flex-direction: column;
}

.hero .Text > h1{
    color: var(--osler-gray-80, #2F3C33);
    text-align: center;
    font-family: Nunito;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 800;
    line-height: 122.222%;
    letter-spacing: 0.0675rem;

    margin-top: 4rem;
    margin-bottom: 1rem;
}

.hero .Text > h1 > span{
    color: var(--healing-green-50, #84CC16);
}

.hero p{
    color: var(--osler-gray-60, #647067);
    text-align: center;
    font-family: Nunito;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: -0.01125rem;
    margin-bottom: 0;
}

.hero .elements{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 2rem 0;
}

.hero .textAndIcon{
    display: flex;
    justify-content: center;
}

.hero .textAndIcon > h5{
    color: var(--osler-gray-60, #647067);
    font-family: Nunito;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 0.0875rem;
    text-transform: uppercase;
    padding-left: 0.5rem;
    margin: auto 0;
}

/* phone */

.hero .Phone{
    height: 34rem;
    width: 16.125rem;
    margin: 0 auto;
    position: relative;
}
.hero .phoneImage > .gradient{
    display: none;
}
.hero .phoneImage > img{
    width: 100%;
    height: 100%;
    /* max-width: 100%; */
    object-fit: contain;
}
.heartRateCard{
    border-radius: 22.333px;
    background: var(--healing-green-50, #84CC16);
    box-shadow: 0px 11.16667px 22.33333px 0px rgba(132, 204, 22, 0.25);
    height: 9.6875rem;
    width: 6.8125rem;
    padding: 0.6975rem;

    position: absolute;
    top: 15%;
    left: 75%;
}
.heartRateCard-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.25rem;
}
.heartRateCard-title > h3{
    color: var(--osler-gray-white, #FFF);
    font-family: Nunito;
    font-size: 0.8rem;
    font-weight: 700;
    letter-spacing: -0.00875rem;
}
.heartRateCard-info{
    padding-bottom: 0.5rem;
}
.heartRateCard-info > h4{
    color: var(--osler-gray-white, #FFF);
    font-family: Nunito;
    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: -0.03rem;
}
.heartRateCard-info > h4 > span{
    color: var(--healing-green-30, #BEF264);
    font-family: Nunito;
    font-size: 0.875rem;
    font-weight: 600;
    letter-spacing: -0.00875rem;
    padding-left: 0.25rem;
}
.heartRateCard-chart > img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.nutritionCard{
    border-radius: 22.333px;
    background: var(--osler-gray-white, #FFF);
    display: flex;
    height: 9.6875rem;
    width: 6.9375rem;
    padding: 0.6975rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 6.979px;
    position: absolute;
    top: 37%;
    left: -10%;
}
.nutritionCard-title{
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.25rem;
    align-items: center;
    width: 100%;
}
.nutritionCard-title > h3{
    color: var(--osler-gray-80, #2F3C33);
    font-family: Nunito;
    font-size: 0.875rem;
    font-weight: 700;
    letter-spacing: -0.00875rem;
}
.nutritionCard-info > h4{
    color: var(--osler-gray-80, #2F3C33);
    font-family: Nunito;
    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: -0.03rem;
    padding-bottom: 0.5rem;
}
.nutritionCard-info > h4 >span{
    color: var(--osler-gray-60, #647067);
    font-family: Nunito;
    font-size: 0.875rem;
    font-weight: 600;
    letter-spacing: -0.00875rem;
    padding-left: 0.25rem;
}
.nutrition-days{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    flex: 1;
}
.nutrition-days > .cellRow{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 23.5%;
}
.nutrition-days > .cellRow > .cell{
    border-radius: 2.792px;
    background: var(--osler-gray-20, #E3E4E3);
    width: calc(100%/8.1);
    height: 100%;
}
.nutrition-days > .cellRow > .l-green{
    background: var(--healing-green-20, #D9F99D);
}
.nutrition-days > .cellRow > .m-green{
    background: var(--healing-green-30, #BEF264);
}
.nutrition-days > .cellRow > .d-green{
    background: var(--healing-green-50, #84CC16);
}
.doctorSugetionCard{
    display: none;
}

.hero .getFeatureButton{
    margin-bottom: 5.625rem;
}

.hero .scrollDownButton{
    display: none;
}

@media(min-width: 1200px){
    .background{
        background-position: -60% 55%;
        background-size: 130%;
    }
    .hero .Text > h1{
        text-align: left;
        font-size: 3.75rem;
        line-height: 113.333%;
        letter-spacing: -0.1rem;
        margin-top: 5rem;
        margin-bottom: 1.5rem;
    }

    .hero p{
        text-align: left;
        font-family: Nunito;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; /* 38.4px */
        letter-spacing: -0,015rem;
    }

    .hero .elements{
        flex-direction: row;
        margin: 2.5rem 0;
    }

    .hero .elements > :first-child{
        margin-right: 2.5rem;
    }

    .hero .textAndIcon{
        justify-content: flex-start;
    }

    .hero .getFeatureButton{
        max-width: max-content;
    }

    .hero .Phone{
        height: 48rem;
        width: 28.375rem;
        margin: 0;
    }

    .hero .phoneImage > .gradient{
        display: block;
        background: linear-gradient(to top, white 10%, transparent 20%);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 120%;
    }

    .hero .phoneImage > img{
        height: auto;
        
    }

    .heartRateCard{
        border-radius: 32px;
        height: 12.5rem;
        width: 9.7rem;
    
        top: 25%;
        left: 80%;
    }
    .nutritionCard{
        border-radius: 32px;
        height: 12.5rem;
        width: 9.7rem;

        top: 55%;
        left: 80%;
    }
    .nutrition-days{
        padding-bottom: 0.5rem;
    }
    .doctorSugetionCard{
        display: block;
        border-radius: 32px;
        background: var(--osler-gray-white, #FFF);
        display: flex;
        height: 7rem;
        width: 21.4375rem;
        padding: 0.75rem;
        flex-direction: row;
        align-items: flex-start;
        align-items: center;
        gap: 6.979px;
        position: absolute;
        top: 59.5%;
        left: -20%;
    }
    .doctorSugetion-Image{
        border-radius: 24px;
        overflow: hidden;
    }
    .doctorSugetion-information{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding-left: 0.5rem;
        padding-right: 1rem;
        align-items: flex-start;
        width: max-content;
    }
    .doctorSugetion-information > h3{
        color: var(--osler-gray-80, #2F3C33);
        font-family: Nunito;
        font-size: 1rem;
        font-weight: 800;
        letter-spacing: -0.02rem;
    }
    .doctorSugetion-information > h3 > span{
        margin-left: 0.25rem;
    }
    .doctorSugetion-information > div{
        display: flex;
        gap: 0.5rem;
        align-items: center;
        justify-content: flex-start;
    }
    .doctorSugetion-information > div > h4{
        color: var(--osler-gray-60, #647067);
        font-family: Nunito;
        font-size: 0.75rem;
        font-weight: 700;
        letter-spacing: -0.075rem;
    }
    .doctorSugetion-review{
        display: flex;
        align-items: center;
    }
    .doctorSugetion-information > div > h4 > span{
        margin-right: 0.25rem;
    }
    .doctorSugetion-information .dot{
        width: 0.25rem;
        height: 0.25rem;
        border-radius: 1.5px;
        background: var(--osler-gray-30, #C5C8C6);
    }
    .doctorSugetion-review > div > .colored{
        filter: invert(62%) sepia(100%) saturate(392%) hue-rotate(4deg) brightness(150%) contrast(96%);
    }
    .doctorSugetion-review{
        display: flex;
        align-items: center;
    }
    .doctorSugetion-review > h5{
        color: var(--osler-gray-80, #2F3C33);
        font-family: Nunito;
        font-size: 0.75rem;
        font-weight: 800;
        letter-spacing: -0.0075rem;
        padding-left: 0.25rem;
    }
    .doctorSugetion-information > div > h6{
        color: var(--osler-gray-80, #2F3C33);
        font-family: Nunito;
        font-size: 0.75rem;
        font-weight: 700;
        letter-spacing: -0.0075rem;
    }

    .hero .scrollDownButton{
        display: block;
        border-radius: 12px;
        background: var(--osler-gray-10, #F5F5F5);
        max-width: max-content;
        padding: 0;
        margin-left: 1.5rem;
        margin-bottom: 1.5rem;
    }
    .hero .scrollDownButton > a{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.75rem;
    }
    .hero .scrollDownButton h4{
        color: var(--osler-gray-80, #2F3C33);
        font-family: Nunito;
        font-size: 0.75rem;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        letter-spacing: 0.075rem;
        text-transform: uppercase;
        margin: 0;
        padding-right: 1rem;
    }
}

/* mission */

.mission{
    position: relative;
    z-index: 2;
}
.missionBox{
    padding: 6rem 1rem;
    border-radius: 96px;
    background: var(--osler-gray-80, #2F3C33);
    overflow: hidden;
}

.missionText{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.missionText > div > div{
    border-radius: 15px;
    background: var(--healing-green-50, #84CC16);
    padding: 0.625rem 1rem;
    margin-bottom: 1.5rem;
    max-width: max-content;
    max-height: max-content;
}

.missionText h2{
    
    color: var(--osler-gray-white, #FFF);
    font-family: Nunito;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: -0.02rem;
    margin: 0;
    
}
.missionText h3{
    color: var(--osler-gray-white, #FFF);
    font-family: Nunito;
    font-size: 1.8rem;
    font-weight: 800;
    line-height: 126.667%;
    letter-spacing: 0.05625rem;
    margin-bottom: 1.5rem;
}
.missionText p{
    color: var(--osler-gray-20, #E3E4E3);
    font-family: Nunito;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: -0.01125rem;
}
.missionText > div:nth-of-type(2) > div
{
    display: none;
}
.missionBox .icons{
    display: flex;
    justify-content: center;
}
.missionBox .icons:nth-of-type(3){
    display: flex;
    justify-content: center;
}
.missionBox .icons > div{
    margin:  0 0 1.5rem 1.5rem;
    padding: 3.25rem 1.5625rem;
}
.missionBox .icons > div:hover{
    border-radius: 56px;
    background: var(--osler-gray-70, #48524B);
}
.missionBox .icons > div:hover > img{
    filter: brightness(100);
}

@media(min-width: 1200px){
    .missionBox{
        padding: 8rem 7.375rem;
        border-radius: 180px; 
    }
    .missionText{
        flex-direction: row;
        justify-content: space-between;
    }
    .missionText p{
        font-size: 1.25rem;
        letter-spacing: -0,0125rem;
    }
    .missionText h2{
        flex: 0 0 50%;
    }
    .missionText h3{
        font-size: 3rem;
        line-height: 116.667%;
        letter-spacing: -0.09rem; 
    }
    .missionText > div:nth-of-type(2) > div{
        display: block;
    }
    .missionText > div:nth-of-type(1) > div{
        display: none;
    }
    .missionText > div:nth-of-type(2){
        order: -1;
        width: 28rem;
    }
    .missionText > div:nth-of-type(1){
        width: 32.25rem;
    }
}

/* statistics */

.statisticsBorder{
    
    border-radius: 96px;
    background: var(--healing-green-50, #84CC16);
}

.statisticsBorder > div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.statisticsContent > h2{
    color: var(--osler-gray-white, #FFF);
    text-align: center;
    font-family: Nunito;
    font-size: 2.25rem;
    font-weight: 800;
    line-height: 122.222%;
    letter-spacing: -0,0675rem;
    margin-bottom: 2rem;
}
.statisticsContent{
    padding: 6rem 1rem;
}
.statisticsElement{
    border-radius: 64px;
    background: var(--osler-gray-white, #FFF);
    box-shadow: 0px 8px 16px 0px rgba(47, 60, 51, 0.05);
    padding: 4rem 2rem;
}
.statisticsContent > div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.statisticsElement > div{
    display: flex;
}
.statisticsElement > h3{
    color: var(--osler-gray-80, #2F3C33);
    text-align: center;
    font-family: Nunito;
    font-size: 4rem;
    font-style: normal;
    font-weight: 800;
    line-height: 111.111%;
    letter-spacing: -0.135rem;
}
.statisticsElement > h3 > span{
    color: var(--healing-green-50, #84CC16); 
}

.statisticsElement h4{
    color: var(--osler-gray-80, #2F3C33);
    font-family: Nunito;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 133.333%;
    letter-spacing: -0.045rem;
    padding-left: 0.5rem;
}

@media(min-width: 1200px){
    .statisticsBorder{
        border-radius: 180px;
    }

    .statisticsContent{
        padding: 8rem 7.375rem;
        border-radius: 180px;
    }
    .statisticsContent > div{
        flex-direction: row;
        justify-content: center;
        
    }
    .statisticsContent > h2{
        font-size: 3rem;
        line-height: 116.667%;
        letter-spacing: -0.09rem;
        margin-bottom: 4rem;
    }
    .statisticsElement{
        padding: 3rem;
       
    }
}

/* Services */
.servicesBorder{
    border-radius: 96px;
    background: var(--osler-gray-10, #F5F5F5);
    
}
.servicesContainer{
    padding: 6rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    align-items: center;
}
.servicesHeader{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.servicesHeader > div {
    border-radius: 15px;
    border: 1px solid var(--osler-gray-60, #647067);
    padding: 0.625rem 1rem;
    max-width: max-content;
    max-height: max-content;
}
.servicesHeader > div > h4{
    color: var(--osler-gray-80, #2F3C33);
    text-align: center;
    font-family: Nunito;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: -0.02rem;
    margin: 0;
}
.servicesHeader > h2{
    color: var(--osler-gray-80, #2F3C33);
    text-align: center;
    font-family: Nunito;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 800;
    line-height: 122.222%;
    letter-spacing: -0.0675rem;
    margin: 0;
}
.servicesCards{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
}
.servicesElement > a{
    border-radius: 56px;
    background: var(--osler-gray-white, #FFF);
    box-shadow: 0px 8px 16px 0px rgba(47, 60, 51, 0.05);
    display: flex;
    padding: 2rem;
    flex-direction: column;
    gap: 3rem;
}
.servicesElement .arrow{
    align-self: flex-end;
}
.servicesElement .elementContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem;
    align-self: stretch;
}
.servicesElement .elementContent > .icon{
    border-radius: 30px;
    background: var(--healing-green-10, #ECFCCB);
    display: flex;
    width: min-content;
    padding: 1.5rem;
    justify-content: center;
    align-items: center;
}
.servicesElement .elementContent > .text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    align-self: stretch;
}

@media(min-width: 1200px){
    .servicesBorder{
        border-radius: 180px;
    }
    .servicesContainer{
        padding: 8rem 14.75rem;
        gap: 3rem;
    }
    .servicesHeader{
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    .servicesHeader > h2{
        order: -1;
        font-size: 3rem;
        font-style: normal;
        font-weight: 800;
        line-height: 116.667%;
        letter-spacing: -0.09rem;
    }
    .servicesElement > a{
        flex-direction: row;
        align-items: center;
    }
    .servicesElement > a > h4{
        padding-right: 1rem;
    }
    .servicesElement .elementContent{
        flex-direction: row;
        margin-right: auto;
    }
    .servicesElement .elementContent > .text{
        gap: 0;
        justify-content: center;
    }
    .servicesElement .elementContent > .text > h3, p{
        margin: 0;
    }
    .servicesElement .arrow{
        align-self: auto;
    }
}

/* features */
.features{
    padding-top: 6rem;
    padding-bottom: 6rem;
}
.features > .container{
    padding: 0;
}

.features h2{
    color: var(--osler-gray-80, #2F3C33);
    text-align: center;
    font-family: Nunito;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 800;
    line-height: 113.333%;
    letter-spacing: -0.0675rem;
    margin-bottom: 3rem;
}
.features .content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6rem;
}
.features .content > .featureCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.features .cardBorder{
    border-radius: 118px;
    background: var(--healing-green-50, #84CC16);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.features .cardBorder > img{
    max-width: 100%;
    object-fit: cover;
}
.features .cardContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.features .featureHeadline{
    border-radius: 0.9375rem;
    border: 1px solid var(--osler-gray-60, #647067);
    display: flex;
    padding: 0.625rem 1rem;
    justify-content: center;
    align-items: center;
}
.features .featureHeadline > h3{
    color: var(--osler-gray-60, #647067);
    text-align: center;
    font-family: Nunito;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: -0.02rem;
}
.featureInformation > h4{
    color: var(--osler-gray-80, #2F3C33);
    text-align: center;
    font-family: Nunito;
    font-size: 1.875rem;
    font-weight: 800;
    line-height: 126.667%;
    letter-spacing: -0.05625rem;
    padding-bottom: 1rem;
}
.featureInformation > p{
    color: var(--osler-gray-60, #647067);
    text-align: center;
    font-family: Nunito;
    font-size: 1rem;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: -0.01rem;
    margin: 0;
    padding-bottom: 1.5rem;
}
.featureCard:nth-child(1) .featureInformation > p{
    padding-bottom: 2rem;
}
.featureInformation > .stats1{
    display: flex;
    gap: 1rem;
    justify-content: space-evenly;
    width: 100%;
}
.featureInformation > .stats1 > .text > h5{
    color: var(--osler-gray-80, #2F3C33);
    text-align: center;
    font-family: Nunito;
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 133.333%;
    letter-spacing: -0.045rem;
}
.featureInformation > .stats1 > h5 > span{
    color: var(--remote-red-50, #F43F5E);
}
.featureInformation > .stats1 > h6{
    color: var(--osler-gray-60, #647067);
    text-align: center;
    font-family: Nunito;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: -0.02rem;
}

.featureCard:nth-child(2) > .cardBorder{
    background: var(--osler-gray-60, #647067);
}
.featureInformation > .stats2{
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.75rem;
}
.featureInformation > .stats2 > h5{
    color: var(--osler-gray-80, #2F3C33);
    font-family: Nunito;
    font-size: 1.25rem;
    font-weight: 800;
    letter-spacing: -0.025rem;
}
.featureInformation > .stats2 > .text > h5 > span{
    color: var(--osler-gray-60, #647067);
}
.featureInformation > .stats2 > h6{
    color: var(--osler-gray-60, #647067);
    text-align: right;
    font-family: Nunito;
    font-size: 0.875rem;
    font-weight: 900;
    letter-spacing: 0.0875rem;
    text-transform: uppercase;
}
.featureInformation .progress{
    --bs-progress-height: 0.5rem;
    border-radius: 3px;
    --bs-progress-bg: var(--healing-green-10, #ECFCCB);
    
}
.featureInformation .bg-success {
    background: var(--healing-green-50, #84CC16) !important;
}

.featureCard:nth-child(3) > .cardBorder{
    background: var(--osler-gray-20, #E3E4E3);
}
.featureInformation > .stats3{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}
.featureInformation > .stats3 > .bulletPoint{
    display: flex;
    gap: 0.5rem;
}
.featureInformation > .stats3 > .bulletPoint > h5{
    color: var(--osler-gray-70, #48524B);
    font-family: Nunito;
    font-size: 1rem;
    font-weight: 800;
    letter-spacing: -0.02rem;
}

@media(min-width: 1200px){
    .content > .features{
        padding: 8rem 10.9375rem;
    }
    
    .features h2{
        font-size: 3.75rem;
        line-height: 113.333%;
        letter-spacing: -0.1125rem;
        margin-bottom: 6rem;
    }

    .features .content > .featureCard{
        flex-direction: row;
        gap: 11.25rem;
    }
    .features .featureCard:nth-child(1) > .cardBorder,
    .features .featureCard:nth-child(3) > .cardBorder{
        order: 2;
    }
    .features .cardContent{
        align-items: flex-start;
        gap: 2.5rem;
        max-width: 40%;
    }
    .featureInformation > h4{
        text-align: left;
        font-size: 3rem;
        letter-spacing: -0.09rem;
        padding-bottom: 1.5rem;
    }
    .featureInformation > p{
        text-align: left;
        font-size: 1.5rem;
        letter-spacing: -0.01125rem;
        padding-bottom: 2rem;
    }
    .featureInformation > .stats1 {
        display: flex;
    }
    .featureInformation > .stats1 > .text{
        flex: 1;
    }
    .featureInformation > .stats1 > .text > h5{
        text-align: left;
        font-size: 1.875rem;
        letter-spacing: -0.05625rem;
    }
    .featureInformation > .stats1 > .text > h6{
        text-align: left;
        font-size: 1.125rem;
        letter-spacing: -0.0225rem;
    }
    .featureInformation > .stats3{
        align-items: flex-start;
    }
}

/* benefits */

.benefits-border{
    border-radius: 6rem;
    background: var(--healing-green-50, #84CC16);
    padding: 6rem 1rem;
}
.benefits-content{
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}
.benefits-content-header > .headline-border{
    border-radius: 15px;
    border: 1px solid var(--osler-gray-white, #FFF);
    display: flex;
    padding: 0.625rem 1rem;
    justify-content: center;
    align-items: center;
    max-width: max-content;
    margin: auto;
    margin-bottom: 1rem;
}
.benefits-content-header > div > h2{
    color: var(--osler-gray-white, #FFF);
    text-align: center;
    font-family: Nunito;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: -0.02rem;
}
.benefits-content-header > h3{
    color: var(--osler-gray-white, #FFF);
    text-align: center;
    font-family: Nunito;
    font-size: 1.875rem;
    font-weight: 800;
    line-height: 126.667%;
    letter-spacing: -0.05625rem;
}
.benefits-content-cards{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.benefits-card{
    border-radius: 56px;
    background: var(--osler-gray-white, #FFF);
    box-shadow: 0px 8px 16px 0px rgba(47, 60, 51, 0.05);
    display: flex;
    padding: 2rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}
.benefits-card-icon{
    border-radius: 30px;
    display: flex;
    max-width: fit-content;
    padding: 1.75rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
}
.benefits-card > h4{
    color: var(--osler-gray-90, #1E2721);
    font-family: Nunito;
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 133.333%;
    letter-spacing: -0.045rem;
}
.benefits-card > p{
    color: var(--osler-gray-60, #647067);
    font-family: Nunito;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: -0.01125rem;
    margin: 0rem;
}
.benefits-card:nth-child(1) .benefits-card-icon{
    background: var(--healing-green-10, #ECFCCB);
}
.benefits-card:nth-child(2) .benefits-card-icon{
    background: var(--remote-red-10, #FFE4E7);
}
.benefits-card:nth-child(3) .benefits-card-icon{
    background: var(--connectivity-blue-10, #EFF6FF);
}
.benefits-card:nth-child(4) .benefits-card-icon{
    background: var(--caring-violet-10, #EDE9FE);
}
.benefits-card:nth-child(5) .benefits-card-icon{
    background: var(--osler-gray-10, #F5F5F5);
}
.benefits-card:nth-child(6) .benefits-card-icon{
    background: var(--healing-green-10, #ECFCCB);
}
.benefits .getFeatureButton{
    max-width: max-content;
}

@media(min-width: 1200px){
    .benefits-border{
        padding: 8rem 7.375rem;
        border-radius: 180px;
    }
    .benefits-content-header > h3{
        font-size: 3.75rem;
        line-height: 113.333%;
        letter-spacing: -0.1125rem;
    }
    .benefits-content{
        gap: 4rem;
    }
    .benefits-content-cards{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .benefits-card{
        border-radius: 64px;
        flex: 32%;
    }
}

/* news */

.news{
    padding-top: 6rem;
    padding-bottom: 6rem;
}
.news .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 0;
}
.news h2{
    color: var(--osler-gray-80, #2F3C33);
    text-align: center;
    font-family: Nunito;
    font-size: 2.25rem;
    font-weight: 800;
    line-height: 122.222%;
    letter-spacing: -0.0675rem;
}
.news-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.news-wide-carousel{
    display: none;
}
.news .carousel-indicators {
    position: static;
    height: 8px;
    border-radius: 4.5px;
    background: var(--osler-gray-10, #F5F5F5);
    margin: 0 22% 2rem 22%;
}
.news .carousel-indicators [data-bs-target] {
    pointer-events: none;
    margin: auto 0;
    border: 0;
    width: 100%;
    height: 8px;
    border-radius: 3px;
    opacity: 0;
}
.news .carousel-indicators .active {
    opacity: 1;
}
.news-content-control-buttons{
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}
.news-content-control-buttons > button{
    border-radius: 30px;
    background: var(--healing-green-50, #84CC16);
    padding: 1.75rem;
    width: auto;
    opacity: 1;
}
.news-content-control-buttons > button:hover{
    transform: scale(1.03);
    box-shadow: 0 0 10px var(--healing-green-50, #84CC16);
}
.news .carousel-control-next, .carousel-control-prev {
    position: static;
}
.news-card{
    height: 34.375rem;
    border-radius: 48px;
    background: var(--osler-gray-10, #F5F5F5);
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem 2rem 1rem;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    transform: scale(0.90);
    transition: transform 0.5s ease;
}
.news .carousel-item.active > .news-card{
    transform: scale(1);
}
.news-card-information{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
}
.news-card-information > .dot {
    width: 0.25rem;
    height: 0.25rem;
    border-radius: 50%;
    background: var(--osler-gray-30, #C5C8C6);
}
.news-card-information > h6{
    color: var(--osler-gray-60, #647067);
    font-family: Nunito;
    font-size: 0.75rem;
    font-weight: 900;
    letter-spacing: 0.075rem;
    text-transform: uppercase;
}
.news-card > h4{
    color: var(--osler-gray-80, #2F3C33);
    text-align: center;
    font-family: Nunito;
    font-size: 1.25rem;
    font-weight: 800;
    letter-spacing: -0.025rem;
}
.news-card-tags{
    display: flex;
    gap: 0.5rem;
    justify-content: center;
}
.news-card-tags > div{
    border-radius: 15px;
    border: 1px solid var(--osler-gray-60, #647067);
    padding: 0.625rem 1rem;
}
.news-card-tags h5{
    color: var(--osler-gray-80, #2F3C33);
    text-align: center;
    font-family: Nunito;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: -0.02rem;
}
.news .getFeatureButton{
    width: max-content;
}

@media(min-width: 1200px){
    .news{
        padding: 8rem 8.875rem;
    }
    .news > .container{
        flex-direction: row;
        gap: 3rem;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .news h2{
        font-size: 3rem;
        line-height: 116.667%;
        letter-spacing: -0.09rem;
        order: -2;
    }
    .news-content{
        gap: 3rem;
    }
    .news .getFeatureButton{
        order: -1;
        align-self: flex-end;
        align-items: center;
    }
    .news-content-controls{
        padding: top;
        display: flex;
        justify-content: flex-start;
    }
    .news .carousel-indicators{
        width: 50%;
        margin: auto auto auto 0;
    }
    .news-content-control-buttons{
        align-self: flex-end;
    }
    .news-thin-carousel{
        display: none;
    }
    .news-wide-carousel{
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }
    .news .carousel-item > div{
        display: flex;
    }
}

    /* consultation */
.consultation-image-desktop{
    display: none;
}
.content .consultation{
    padding: 0 1rem 0.5rem 1rem;
}
.consultation-border{
    border-radius: 96px;
    background: var(--healing-green-20, #D9F99D);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}
.consultation-info{
    height: 50%;
}
.consultation-info > .container{
    padding: 4rem  1rem 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}
.consultation-image{
    height: 50%;
}
.consultation-image > img{
    width: 100%;
    object-fit: cover;
}
.consultation-header{
    border-radius: 15px;
    border: 1px solid var(--osler-gray-80, #2F3C33);
    display: flex;
    padding: 0.625rem 1rem;
    justify-content: center;
    align-items: center;
    width: max-content;
}
.consultation-info h3{
    color: var(--osler-gray-80, #2F3C33);
    text-align: center;
    font-family: Nunito;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: -0.0rem;
}
.consultation-info h2{
    color: var(--osler-gray-80, #2F3C33);
    text-align: center;
    font-family: Nunito;
    font-size: 2.25rem;
    font-weight: 800;
    line-height: 122.222%;
    letter-spacing: -0.0675rem;
}

@media(min-width: 1200px){
    .content .consultation{
        padding: 0 1.5rem 1.5rem 1.5rem;
    }
    .consultation-border{
        flex-direction: row-reverse;
        justify-content: flex-start;
        gap: 8.875rem;
    }
    .consultation-image{
        display: none;
    }
    .consultation-image-desktop{
        display: block;
        width: 50%;
    }
    .consultation-info{
        padding: 4rem  7.375rem 4rem 0;
        height: 100%;
        width: 50%; 
        margin: auto 0; 
    }
    .consultation-info > .container{
        align-items: flex-start;
        gap: 2rem;
    }
    .consultation-info h2{
        color: var(--osler-gray-80, #2F3C33);
        font-family: Nunito;
        font-size: 3.75rem;
        font-weight: 800;
        line-height: 113.333%;
        letter-spacing: -0.1125rem;
        text-align: left;
    }
}

/* footer */

footer{
    border-radius: 96px 96px 0px 0px;
    background: var(--osler-gray-80, #2F3C33);
    overflow: hidden;
}
.footer-background{
    background-image: url(../resources/footerBackgroundMobile.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
footer .container{
    padding: 6rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4.0625rem;
}
.footer-text{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
}
.footer-header{
    display: flex;
    gap: 0.5625rem;
    justify-content: center;
}
.footer-text > p{
    color: var(--osler-gray-20, #E3E4E3);
    text-align: center;
    font-family: Nunito;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: -0.0125rem;
}
.footer-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}
.footer-links > .dot{
    width: 1rem;
    height: 1rem;
    border-radius: 6px;
    background: var(--healing-green-50, #84CC16);
    margin-bottom: -2.5rem;
}
.footer-link > a{
    color: var(--osler-gray-white, #FFF);
    font-family: Nunito;
    font-size: 3rem;
    font-weight: 800;
    line-height: 116.667%;
    letter-spacing: -0.09rem;
    opacity: 0.48;
}
.footer-link:hover >a{
    opacity: 1;
}
.footer-social-links{
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.footer-social-link > a{
    display: block;
    border-radius: 24px;
    border: 1px solid var(--osler-gray-white, #FFF);
    padding: 0.9375rem;
}
.footer-social-link:hover{
    transform: scale(1.1);
}
.footer-copyright{
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.footer-copyright > .dot{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 3px;
    background: var(--osler-gray-70, #48524B);
}
.footer-copyright-link{
    color: var(--osler-gray-white, #FFF);
    text-align: center;
    font-family: Nunito;
    font-size: 0.75rem;
    font-weight: 900;
    letter-spacing: 0.075rem;
    text-transform: uppercase;
}
.footer-copyright-link:hover > a{
    color: var(--healing-green-50, #84CC16);
}
.footer-buttons{
    align-self: stretch;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.footer-buttons > .getFeatureButton{
    background: var(--healing-green-50, #84CC16);
}
@media(min-width: 1200px){
    footer{
        border-radius: 180px 180px 0px 0px;
    }
    .footer-background{
        background-image: url(../resources/FooterBackgroundDesktop.svg);

    }
    footer .container{
        gap: 5rem;
        position: relative;
    }
    .footer-text{
        gap: 1.5rem;
        width: 50%;
    }
    .footer-header{
        height: 3.875rem;
    }
    .footer-header img{
        height: 100%;
    }
    .footer-social-links{
        position: absolute;
        width: 100%;
        justify-content: space-between;
        flex-wrap: wrap;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .footer-social-link:nth-child(odd){
        margin-right: 40%;
        margin-left: 2rem;
    }
    .footer-social-link:nth-child(even){
        margin-left: 40%;
        margin-right: 2rem;
    }
    .footer-buttons{
        flex-direction: row;
    }
    .footer-buttons > .getFeatureButton{
        flex: 1;
    }
    .footer-buttons > .getFeatureButton > a{
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
}